**/builds
node_modules
zotero-cmd.json
*-ignore.ts

/node_modules/
/build/
/tests/dist/
/zotero-cmd.json

/tests/native-*.json
/tests/native-fixtures/*.pdf
/tests/unit-results.txt
/zotero-reference-zotero10.xpi

/tests/unit-results-*.txt
/tests/native-fixtures/*.html
/tests/native-fixtures/*.xml
/tests/native-fixtures/*.json
